/*
* This is a manifest file that'll be compiled into application.css, which will include all the files
* listed below.
*
* Any CSS file within this directory can be referenced here using a relative path.
*
* You're free to add application-wide styles to this file and they'll appear at the top of the
* compiled file, but it's generally better to create a new file per style scope.
*
*= require customize-template
*= require_self
*/

.subNavBar-fixed{
	position: fixed;
    top: 40px;
}
.hidden-navBar{
	display: none;
}

.download-modal{
	font-size: 20pt;
	color: #6F6F6F;
	text-decoration: none;
}

.download-pointer{
	cursor: pointer;
}

.flex{
	display: flex;
	justify-content: center;
}

.align-self{
	align-self: center;
}

.auto-width{
	width: auto;
}